h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans', helvetica, sans-serif;
	text-align: center;
}
body{
	font: 16px georgia, serif;
}
p{
	margin: 0 auto;
	width:800px;
}
h1{
	color: #222;
	font-size:60px;
	margin:0;
}
h2{
	font-size:36px;
}
.subtitle{
	color:#999;
	font-size:20px;
	text-align: center;	
}
img{
	border: 1px solid #ccc;
	display:block;
	margin:0 auto;	
}
figcaption{
	color: #666;
	font-family: 'Open Sans', helvetica, sans-serif;
	font-size: 14px;
	margin:0 auto;
	width:600px;
}
hr{
	border-bottom:1px;
	border-color: #ccc;
	width:900px;	
}
.contents{
	
	display:block;
	margin:0 0 0 400px;
}
.contents h3{
	color:#999;
	font-size: 14px;
	margin-left: 40px;
	text-align: left	
}
ol{
	text-decoration: underline;
}
ol ol{
	padding: 0px;
}
ol ol li{
	list-style:none;
	text-indent: none;
}
blockquote{
	background:#f6f6f6;
	border-left: 10px solid #e3e3e3;
	font-size: 20px;
	color:#222;
	margin:20px auto;
	width:900px;
}
ul{
	float:right;
	width:75%;
}

.fifty{
	float:left;
	width:50%;
	
}
.fifty figure{
	margin-right:none;
}
.fifty figcaption{
	width:400px;
}
ul{
	color:#222;
	font:16px georgia,serif;
}
ul li{
	margin:20px 0;
}
